
.trips {
    margin: 4rem 6rem;
    color: #2a2a3a;
    text-align: center;
}

.trips > h1 {
    font-size: 3rem;
}

.hold {
    margin-top: 3rem;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    column-gap: .4rem;
    row-gap: 1rem;
}

.card {
    width: 32%;
    box-shadow: 0 6px 22px 5px rgba(0, 0, 0, 0.23);
    border-radius: 0.5rem;
    padding: 1rem .7rem;
    cursor: pointer;
    text-transform: capitalize;
}

.card > h4 {
    padding: 1rem 0 .3rem 0;
    font-size: 1.1rem;
}

.card > p {
    text-align: left;
}

.image {
    height: 12rem;
    border-radius: 0.5rem;
    overflow: hidden;
}

.image > img {
    border-radius: .5rem;
    height: 100%;
    transition: .25s ease-out;
    width: 100%;
}

.image:hover > img {
    transform: scale(1.25);
}

@media screen and (max-width: 800px) {
    .trips {
        margin: 4rem 2rem;
    }

    .hold {
        flex-direction: column;
        gap: 2.4rem;
    }

    .card {
        width: 100%;
    }
}