
.wrapper {
    margin: 4rem 6rem;
}

.wrapper > h1 {
    font-size: 3rem;
}

.destination {
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    align-items: center;
}

.destination:nth-of-type(odd) {
    flex-direction: row-reverse;
    margin-top: 7rem;
}

.text {
    width: 45%;
    text-align: start;
    font-size: 1rem;
}

.text > h2 {
    padding-bottom: 1rem;
}

.image {
    position: relative;
    display: flex;
    width: 50%;
    z-index: -44;
    justify-content: space-between;
}

.image > img {
    width: 50%;
    height: 20rem;
    object-fit: cover;
    border-radius: 0.42rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.image > img:first-child { margin: 0 1.1rem; }

.image > img:nth-child(2) {
    right: 0;
    top: -15%;
    position: absolute;
}


@media screen and (max-width: 800px) {
    .wrapper {
        margin: 4rem 2rem;
    }
    
    .destination {
        flex-direction: column-reverse;
        margin-top: 3rem;
    }

    .destination:nth-of-type(odd) {
        flex-direction: column;
    }

    .text { width: 100%; }

    .image {
        width: 100%;
        margin: 1.8rem 0;
    }

    .image > img { height: 15rem; }

    .image > img:first-child { margin: 0 3rem; }    

}

@media screen and (max-width: 500px)  {
    .image > img:first-child { margin: 0 1.7rem; }    
}