.intro {
    width: 100%;
    height: 100vh;
    position: relative;
}

.intro > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.introText {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    /* width: 100%; */
}

.introText > h1 {
    font-size: 3rem;
    background: #f0ffff;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    font-weight: 800;
}

.introText > p {
    font-size: 1.5rem;
    color: #f0ffff;
    padding: 0.4rem 0 1.8rem 0;
}

.link {
    text-decoration: none;
    background: #f0ffff;
    padding: 1rem 2rem;
    font-weight: 700;
    color: #222;
    border-radius: 0.4rem;
    letter-spacing: 0.125rem;
    font-size: 1rem;
}

@media screen and (max-width: 640px) {
    .introText > h1 {
        padding: 1.125rem 2.25rem;
    }

    .introText > p {
        font-size: 1rem;
        padding: 0 0 2rem 0;
    }

    .link {
        padding: .5rem 1rem;
        border-radius: 0.4rem;
        font-size: 1rem;
    }

    .link:hover {
        background: #222;
        color: whitesmoke;
    }
}