@import "./stylesheets/Header";
@import "./stylesheets/Home";

*, *:before, *:after {
  margin: auto;
  padding: 0;
  outline: 0;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
}